.container.animated.fadeIn
  .logo
    .planet
    .moon
  h1.title Nicholas Adamou
  h2.sub-title 802.11 Hacker | Software Developer
  a(href="#").link 
    i.fa.fa-key
    | DE6A E7CB 86B9 05B0
    
  .ico
    a(href="#") 
      i.fa.fa-codepen
    a(href="#")
      i.fa.fa-github
    a(href="#")
      i.fa.fa-twitter
    a(href="#")
      i.fa.fa-paper-plane
  